<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
    <%= link_to 'New user', new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="users" class="min-w-full">
    <table class="text-left mb-5 w-3/4">
      <thead class="uppercase bg-gray-300">
        <tr>
          <th class="sr-only">Select</th>
          <th class="px-3 py-3">First Name</th>
          <th class="px-3 py-3">Last Name</th>
          <th class="px-3 py-3">Email</th>
          <th class="px-3 py-3">Gender</th>
          <th class="px-3 py-3">Height</th>
          <th class="px-3 py-3" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody id="user-list">
        <% @users.each do |user| %>
          <%= render partial: "user_row", locals: { user: user }  %>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
